# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# SQLite databases
*.db
*.db-shm
*.db-wal

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Uploaded images
src/Ghaem.Web/wwwroot/images/properties/*
!src/Ghaem.Web/wwwroot/images/properties/.gitkeep
